#### Q1. Make three varibales of each type string, float and int. convert integer to float and string and then print it. Convert float to string and int and print. Convert string to float and int and print

In [1]:
var1 = "34"
var2 = 23.45
var3 = 34

In [2]:
print(int(var1))
print(float(var1))

34
34.0

In [3]:
print(int(var2))
print(str(var2))

23
23.45

In [4]:
print(float(var3))
print(str(var3))

34.0
34

### Q2. Make a string with names of students with a comma and then remove the comma with replace function

In [13]:
string1  = "Harry, Rohan, Vikrant, Prateek"
string1.replace(",","")

'Harry Rohan Vikrant Prateek'

## Q3. Try **, //, and % operators on any variables

In [1]:
a = 23
b = 2

In [4]:
print(a**b) #exponent operator (to the power)
print(a // b) #floor division (11.6 will be printed 11)
print(a % b) # modulo operator (returns the remainder)

529
11
1

## Q4. Use for loop to iterate through a tuple and a dictionary

In [1]:
tup1 = (12,324,345,54,12)
for item in tup1:
    print(item)

12
324
345
54
12

In [4]:
dict1 = {"name":'prateek', "age":34, "prefernces": "cofee jelly"}
for item in dict1:
    print(item)

name
age
prefernces